{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}eBusiness{% endblock %}</title>

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">

  <!-- Vendor CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

  <!-- Main CSS -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body class="index-page">

  <!-- Navbar -->
  {% include 'navbar.html' %}

  <!-- Main Content -->
<main class="main">

{% if messages %}
<div class="container mt-3">

  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  {% endfor %}

</div>
{% endif %}

{% block content %}
{% endblock %}

</main>

  <!-- Footer -->
  {% include 'footer.html' %}

  <!-- JS -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script>
  AOS.init();

  document.addEventListener("DOMContentLoaded", function () {
    var isoContainer = document.querySelector('.isotope-container');
    if (isoContainer) {
      var iso = new Isotope(isoContainer, {
        itemSelector: '.isotope-item',
        layoutMode: 'masonry'
      });
    }
  });
</script>

</body>
</html>