{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="contact" class="contact section light-background">

<div class="container section-title">
<h2>Contact</h2>
</div>

<div class="container">

<div class="row g-4 g-lg-5">

<div class="col-lg-5">

<div class="info-box">
<h3>Contact Info</h3>

<p>Dhaka, Bangladesh</p>

<div class="info-item">
<i class="bi bi-telephone"></i>
<p>+880 1309630064</p>
</div>

<div class="info-item">
<i class="bi bi-envelope"></i>
<p>alifahmedpbd@email.com</p>
</div>

</div>

</div>


<div class="col-lg-7">

<div class="contact-form">

<h3>Get In Touch</h3>

{% if success %}
<div class="alert alert-success">
Your message has been sent successfully.
</div>
{% endif %}

<form method="POST">

{% csrf_token %}

<div class="row gy-4">

<div class="col-md-6">
<input type="text"
name="name"
class="form-control"
placeholder="Your Name"
required>
</div>

<div class="col-md-6">
<input type="email"
name="email"
class="form-control"
placeholder="Your Email"
required>
</div>

<div class="col-12">
<input type="text"
name="subject"
class="form-control"
placeholder="Subject"
required>
</div>

<div class="col-12">
<textarea
name="message"
class="form-control"
rows="6"
placeholder="Message"
required></textarea>
</div>

<div class="col-12 text-center">

<button type="submit" class="btn btn-primary">
Send Message
</button>

</div>

</div>

</form>

</div>

</div>

</div>

</div>

</section>

{% endblock %}