{% extends 'base.html' %}
{% block content %}

<section class="section">
<div class="container">

<div class="card p-4">

<h3>

{% if form.instance.id %}
Edit Job
{% else %}
Add Job
{% endif %}

</h3>

<form method="POST">

{% csrf_token %}

<div class="mb-3">
<label>Title</label>
{{ form.title }}
</div>

<div class="mb-3">
<label>Description</label>
{{ form.description }}
</div>

<div class="mb-3">
<label>Location</label>
{{ form.location }}
</div>

<div class="mb-3">
<label>Requirements</label>
{{ form.requirements }}
</div>

<button type="submit" class="btn btn-success">

{% if form.instance.id %}
Update Job
{% else %}
Add Job
{% endif %}

</button>

</form>

</div>

</div>
</section>

{% endblock %}