{% extends 'base.html' %}
{% block content %}

<section class="section">

<div class="container">

<h2>Apply for {{ job.title }}</h2>

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

<input type="text" name="name" placeholder="Your Name" class="form-control mb-3">

<input type="email" name="email" placeholder="Your Email" class="form-control mb-3">

<input type="text" name="phone" placeholder="Phone Number" class="form-control mb-3">

<textarea name="message" placeholder="Message" class="form-control mb-3"></textarea>

<input type="file" name="cv" class="form-control mb-3">

<button type="submit" class="btn btn-success">
Submit Application
</button>

</form>

</div>

</section>

{% endblock %}